services:
    app.admin.entidadeducativa:
        class: AppBundle\Admin\EntidadeducativaAdmin
        tags:
            - { name: sonata.admin, manager_type: orm, group: "Content", label: "Escuela/Colegio" }
        arguments:
            - ~
            - AppBundle\Entity\Entidadeducativa
            - ~
        calls:
            - [ setTranslationDomain, [AppBundle]]
    
    app.admin.departamento:
        class: AppBundle\Admin\DepartamentoAdmin
        tags:
            - { name: sonata.admin, manager_type: orm, group: "Content", label: "Departamentos" }
        arguments:
            - ~
            - AppBundle\Entity\Departamento
            - ~
        calls:
            - [ setTranslationDomain, [AppBundle]]
    
    app.admin.municipio:
        class: AppBundle\Admin\MunicipioAdmin
        tags:
            - { name: sonata.admin, manager_type: orm, group: "Content", label: "Municipios" }
        arguments:
            - ~
            - AppBundle\Entity\Municipio
            - ~
        calls:
            - [ setTranslationDomain, [AppBundle]]
    
    app.admin.docente:
        class: AppBundle\Admin\DocenteAdmin
        tags:
            - { name: sonata.admin, manager_type: orm, group: "Content", label: "Docentes" }
        arguments:
            - ~
            - AppBundle\Entity\Docente
            - ~
        calls:
            - [ setTranslationDomain, [AppBundle]]
            
    
    app.admin.estudiante:
        class: AppBundle\Admin\EstudianteAdmin
        tags:
            - { name: sonata.admin, manager_type: orm, group: "Content", label: "Estudiantes" }
        arguments:
            - ~
            - AppBundle\Entity\Estudiante
            - ~
        calls:
            - [ setTranslationDomain, [AppBundle]]
    
    app.admin.nivelescolar:
        class: AppBundle\Admin\NIvelEscolarAdmin
        tags:
            - { name: sonata.admin, manager_type: orm, group: "Content", label: "Niveles Escolares" }
        arguments:
            - ~
            - AppBundle\Entity\Nivelescolar
            - ~
        calls:
            - [ setTranslationDomain, [AppBundle]]
    
    app.admin.conducta:
        class: AppBundle\Admin\ConductaAdmin
        tags:
            - { name: sonata.admin, manager_type: orm, group: "Content", label: "Conductas" }
        arguments:
            - ~
            - AppBundle\Entity\Conducta
            - ~
        calls:
            - [ setTranslationDomain, [AppBundle]]
            
            
    app.admin.entidadeducativaHasDocente:
        class: AppBundle\Admin\EntidadeducativaHasDocenteAdmin
        tags:
            - { name: sonata.admin, manager_type: orm, group: "Content", label: "Entidad Has Docente" }
        arguments:
            - ~
            - AppBundle\Entity\EntidadeducativaHasDocente
            - ~
        calls:
            - [ setTranslationDomain, [AppBundle]]

    app.admin.matricula:
        class: AppBundle\Admin\MatriculaAdmin
        arguments: [~, AppBundle\Entity\Matricula, AppBundle:MatriculaAdmin]
        tags:
            - {name: sonata.admin, manager_type: orm, group: "Content", label: Matricula}

    app.admin.notaconcepto:
        class: AppBundle\Admin\NotaconceptoAdmin
        arguments: [~, AppBundle\Entity\Notaconcepto, AppBundle:NotaconceptoAdmin]
        tags:
            - {name: sonata.admin, manager_type: orm, group: "Content", label: Notaconcepto}

    app.admin.observaciones:
        class: AppBundle\Admin\ObservacionesAdmin
        arguments: [~, AppBundle\Entity\Observaciones, AppBundle:ObservacionesAdmin]
        tags:
            - {name: sonata.admin, manager_type: orm, group: "Content", label: Observaciones}

    app.admin.evaluacion:
        class: AppBundle\Admin\EvaluacionAdmin
        arguments: [~, AppBundle\Entity\Evaluacion, AppBundle:EvaluacionAdmin]
        tags:
            - {name: sonata.admin, manager_type: orm, group: "Content", label: Evaluacion}

    app.admin.docente_has_nivelescolar:
        class: AppBundle\Admin\DocenteHasNivelescolarAdmin
        arguments: [~, AppBundle\Entity\DocenteHasNivelescolar, AppBundle:DocenteHasNivelescolarAdmin]
        tags:
            - {name: sonata.admin, manager_type: orm, group: "Content", label: DocenteHasNivelescolar}
